<!DOCTYPE html>
<html lang="pt-br">
    <title>Centro de Convivencia Capuchinhos </title>
    <meta charset =" utf -8" > </meta>
</html>
<head>
    <link rel="stylesheet" href="styles_hóspedes.css"  />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body >
    <header class="cabeçalho">
        <h1>Centro de Convivencia Capuchinhos</h1>
    </header>
    <hr color="black"></hr>
    <table border=5 bgcolor=lightgreen align="center" width="400px" height="250px">
        <tr bgcolor="lavander" text-size=6"> 
            <th ><i>Hóspedes</i></th>
            <th><i> Data De Nascimento </i></th>
            <th><i> CPF</i></th>
            <th><i> Endereço</i></th>
            <th><i> Alergias</i></th>
            <th><i> Medicamentos que utilizam</i></th>
            <th><i> Anexos</i></th>
            <th><i> Excluir</i></th>

        </tr>
        <tr>
            <td><i><B>Hóspede 1</B></i></td>
            <td> <input type="text" size="20" /></td>
            <td> <input type="text" size="20" /></td>
            <td> <input type="text" size="20" /></td>
            <td> <input type="text" size="20" /></td>
            <td> <input type="text" size="20" /></td>
            <td> <a href="https://www.facebook.com/cccapuchinhos1/" target="_blank">Imagens</a></td>
            <td> <h4 class="excluir">EXCLUIR</h4></td>
        </tr>
        <tr>
            <td><i><B>Hóspede 2</B></i></td>
            <td> <input type="text" size="20" /></td>
            <td> <input type="text" size="20" /></td>
            <td> <input type="text" size="20" /></td>
            <td> <input type="text" size="20" /></td>
            <td> <input type="text" size="20" /></td>
            <td> <a href="https://www.facebook.com/cccapuchinhos1/" target="_blank">Imagens</a></td>
            <td> <h4 class="excluir">EXCLUIR</h4></td>
        </tr>
        <tr>
            <td><i><B>Hóspede 3</B></i></td>
            <td> <input type="text" size="20" /></td>
            <td> <input type="text" size="20" /></td>
            <td> <input type="text" size="20" /></td>
            <td> <input type="text" size="20" /></td>
            <td> <input type="text" size="20" /></td>
            <td> <a href="https://www.facebook.com/cccapuchinhos1/" target="_blank">Imagens</a></td>
            <td> <h4 class="excluir">EXCLUIR</h4></td>
        </tr>
        <tr>
            <td> <i><b>Hóspede 4</b></i></td>
            <td> <input type="text" size="20" /></td>
            <td> <input type="text" size="20" /></td>
            <td> <input type="text" size="20" /></td>
            <td> <input type="text" size="20" /></td>
            <td> <input type="text" size="20" /></td>
            <td> <a href="https://www.facebook.com/cccapuchinhos1/" target="_blank">Imagens</a></td>
            <td> <h4 class="excluir">EXCLUIR</h4></td>
        </tr>
        <tr>
            <td> <i><b>Hóspede 5</b></i></td>
            <td> <input type="text" size="20" /></td>
            <td> <input type="text" size="20" /></td>
            <td> <input type="text" size="20" /></td>
            <td> <input type="text" size="20" /></td>
            <td> <input type="text" size="20" /></td>
            <td> <a href="https://www.facebook.com/cccapuchinhos1/" target="_blank">Imagens</a></td>
            <td> <h4 class="excluir">EXCLUIR</h4></td>
        </tr>
    </table>
</body>