<!DOCTYPE html>
<html lang="pt-br">
    <title>Centro de Convivencia Capuchinhos </title>
    <meta charset =" utf -8" > </meta>
</html>

<head>
    <link rel="stylesheet" type="text/css" href="styles_menu.css" media="screen" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div class="nav">
      <h1>Centro De Convivência Capuchinhos</h1>
      <hr color="black"></hr>
      <nav>
        <a href="#">Hóspedes</a>
        <a href="#">Estoque</a>
        <a href="#">Agenda</a>
        <a href="#">Contatos</a>
        <a href="#">Funcionários</a>
        <div class="animation start-home"></div>
    </nav>
    </div>
    
</body> 