{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <title>Centro de Convivencia Capuchinhos </title>
    <meta charset =" utf -8" > </meta>
</html>
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body >
    <header class="cabeçalho">
        <h1>Centro de Convivencia Capuchinhos</h1>
    </header>
    <hr color="black"></hr>

    <div class="container" >
        
    <div ><img class="logo" src="Capuchinhos.jpg"></div>
    {% block content %}
    {% endblock content %}
    <nav class="contato">
        <a href="https://www.facebook.com/cccapuchinhos1/" target="_blank">Facebook</a>
        <p>WhatsApp: Franciane, (54) 99942-6712</p>
    </nav>
</body>


